<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/1.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(1)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/2.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(2)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/3.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(3)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/4.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(4)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/5.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(5)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/6.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(6)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/7.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(7)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/8.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(8)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/9.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(9)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/10.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(10)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/11.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(11)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/12.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(12)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/13.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(13)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/14.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(14)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/15.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(15)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/16.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(16)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/17.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(17)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/18.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(18)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/19.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(19)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/20.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(20)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/21.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(21)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/22.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(22)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/23.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(23)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/24.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(24)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/25.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(25)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/26.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(26)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/27.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(27)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/28.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(28)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/29.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(29)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/30.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(20)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/31.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(31)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/32.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(32)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/33.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(33)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/34.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(34)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/35.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(35)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/36.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(36)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/37.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(37)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/38.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(38)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/39.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(39)">
                Escanear
            </button>
        </div>
    </div>
    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden border-2 border-gray-300">
        <!-- Imagen en el centro -->
        <img src="assets/shapesPuzzel-{{shapeId}}/40.png" alt="Puzzle Image" class="w-full h-48 object-contain" />
        <div class="text-center">
            <button type="button"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                (click)="navegate(40)">
                Escanear
            </button>
        </div>
    </div>















</div>